<!-- Top Info Strip -->
<div class="top-bar">
  <div class="contact-info">
    <span><i class="fas fa-phone-alt"></i> 0334-3345607</span>
    <span><i class="fas fa-envelope"></i> pospcon2026qta@gmail.com</span>
    <span><i class="fas fa-map-marker-alt"></i>Jinnah Postgraduate Medical Centre (JPMC), Karachi, Pakistan</span>
  </div>
</div>

<!-- Header Section -->
<header class="main-header">
  <div class="logo-section">
    <img src="/assets/logo3.jpeg" alt="POSPCON Logo" class="logo" />
    <img src="/assets/logo-removebg-preview-without_bg.png" alt="POSPCON Logo" class="logo" />
  </div>

  <button class="register-btn" (click)="goToRegistration()">Register Now →</button>
</header>

<!-- Navigation -->

<!-- Hamburger Icon -->
<div class="hamburger-container">
  <div class="hamburger" (click)="menuOpen = !menuOpen">
    &#9776;
  </div>
</div>

<!-- Navigation -->
<nav [ngClass]="{'navbar': true, 'responsive': menuOpen}">
  <a routerLink="/" (click)="menuOpen = false">HOME</a>
  <a routerLink="/app-organizing-committee" (click)="menuOpen = false">ORGANIZING COMMITTEE</a>
  <a routerLink="/app-posp-executive-board" (click)="menuOpen = false">POSP EXECUTIVE BOARD</a>
  <a routerLink="/registration" (click)="menuOpen = false">REGISTRATION</a>

<!-- Scientific Program -->
<a routerLink="/main-program" (click)="menuOpen = false">SCIENTIFIC PROGRAM</a>

<!-- Workshops -->
<div class="nav-item dropdown" [class.open]="dropdownOpen2"
     (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)">
  <a href="javascript:void(0)" class="dropdown-toggle">WORKSHOPS ▾</a>
  <div class="dropdown-menu" *ngIf="dropdownOpen2">
    <!-- <a routerLink="/pre-conference-workshops" (click)="menuOpen = false">Pre-Conference Workshops</a> -->
    <a routerLink="/pre-conference-workshops" (click)="menuOpen = false">Hands on Workshop on Club foot Ponseti Method</a>
        <a routerLink="/deformity-correction-course" (click)="menuOpen = false">Cerebral Palsy Live Reconstructive Surgery Workshop</a>
        <a routerLink="/deformity-correction-course" (click)="menuOpen = false">Live DDH Surgery Workshop Quetta</a>
        <a routerLink="/deformity-correction-course" (click)="menuOpen = false">Live DDH Surgery Workshop Sukkar</a>
        <a routerLink="/deformity-correction-course" (click)="menuOpen = false">Osteogenesis imperfecta symposia, Karachi (Video linked)</a> 
    
  </div>
</div>

<!-- Faculties -->
<div class="nav-item dropdown" [class.open]="dropdownOpen3"
     (mouseenter)="onMouseEnter(3)" (mouseleave)="onMouseLeave(3)">
  <a href="javascript:void(0)" class="dropdown-toggle">FACULTIES ▾</a>
  <div class="dropdown-menu" *ngIf="dropdownOpen3">
    <a routerLink="/international-faculty" (click)="menuOpen = false">International Faculty</a>
    <a routerLink="/national-faculty" (click)="menuOpen = false">National Faculty</a>
  </div>
</div>


</nav>

<!-- <app-home></app-home> -->

