<!-- Top Info Strip -->
<div class="top-bar">
  <div class="contact-info">
    <span><i class="fas fa-phone-alt"></i> 0334-3345607</span>
    <span><i class="fas fa-envelope"></i> pospcon2026qta@gmail.com</span>
    <span><i class="fas fa-map-marker-alt"></i> Serena hotel quetta | post graduate medical institute quetta</span>
  </div>
</div>

<!-- Header Section -->
<header class="main-header">
  <div class="logo-section">
    <img src="/assets/logo3.jpeg" alt="POSPCON Logo" class="logo" />
    <img src="/assets/pk.png" alt="POSPCON Logo" class="logo" />
    <img src="/assets/PGMI.png" alt="POSPCON Logo" class="logo" />
    <img src="/assets/Bolan University Quetta.png" alt="POSPCON Logo" class="logo" />
    <img src="/assets/Pakistan Orthopedic association.jpg" alt="POSPCON Logo" class="logo" />

  </div>

  <button class="register-btn" (click)="goToRegistration()">Register Now →</button>
</header>

<!-- Navigation -->

<!-- Hamburger Icon -->
<div class="hamburger-container">
  <div class="hamburger" (click)="menuOpen = !menuOpen">
    &#9776;
  </div>
</div>

<!-- Navigation -->
<nav [ngClass]="{'navbar': true, 'responsive': menuOpen}">
  <a routerLink="/" (click)="menuOpen = false">HOME</a>
  <a routerLink="/app-organizing-committee" (click)="menuOpen = false">ORGANIZING COMMITTEE</a>
  <a routerLink="/app-posp-executive-board" (click)="menuOpen = false">POSP EXECUTIVE BOARD</a>
  <a routerLink="/registration" (click)="menuOpen = false">REGISTRATION</a>

<!-- Scientific Program -->
<div class="nav-item dropdown" [class.open]="dropdownOpen1"
     (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)">
  <a href="javascript:void(0)" class="dropdown-toggle">SCIENTIFIC PROGRAM ▾</a>
  <div class="dropdown-menu" *ngIf="dropdownOpen1">
    <a routerLink="/main-program" (click)="menuOpen = false">MAIN PROGRAM</a>
    <a routerLink="/deformity-correction-course" (click)="menuOpen = false">Cerebral Palsy Course / Workshop</a>
  </div>
</div>

<!-- Workshops -->
<div class="nav-item dropdown" [class.open]="dropdownOpen2"
     (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)">
  <a href="javascript:void(0)" class="dropdown-toggle">WORKSHOPS ▾</a>
  <div class="dropdown-menu" *ngIf="dropdownOpen2">
    <a routerLink="/pre-conference-workshops" (click)="menuOpen = false">Pre-Conference Workshops</a>
  </div>
</div>

<!-- Faculties -->
<div class="nav-item dropdown" [class.open]="dropdownOpen3"
     (mouseenter)="onMouseEnter(3)" (mouseleave)="onMouseLeave(3)">
  <a href="javascript:void(0)" class="dropdown-toggle">FACULTIES ▾</a>
  <div class="dropdown-menu" *ngIf="dropdownOpen3">
    <a routerLink="/international-faculty" (click)="menuOpen = false">International Faculty</a>
    <a routerLink="/national-faculty" (click)="menuOpen = false">National Faculty</a>
  </div>
</div>


</nav>

<!-- <app-home></app-home> -->

