<!-- footer.component.html -->
<div class="footer-container">
  <div class="footer-item">
    <div class="footer-icon">Venue</div>
    <p class="footer-text">
       Jinnah Postgraduate Medical Centre (JPMC), Karachi, Pakistan
    </p>
  </div>

  <div class="footer-item">
    <div class="footer-icon">Date</div>
    <p class="footer-text">1st – 4th April 2026</p>
  </div>
  <div class="footer-item">
    <div class="footer-icon">Contact</div>
    <p class="footer-text">0334-3345607</p>
  </div>

  <div class="footer-item">
    <div class="footer-icon">Email</div>
    <p class="footer-text">pospcon2026qta@gmail.com</p>
  </div>
</div>
