<!-- footer.component.html -->
<div class="footer-container">
  <div class="footer-item">
    <div class="footer-icon">Venue</div>
    <p class="footer-text">
      The Children Hospital & University of Child Health Sciences, Lahore<br />
      Pakistan.
    </p>
  </div>

  <div class="footer-item">
    <div class="footer-icon">Date</div>
    <p class="footer-text">20th – 22nd February 2025</p>
  </div>

  <div class="footer-item">
    <div class="footer-icon">Contact</div>
    <p class="footer-text">0334-3345607</p>
  </div>

  <div class="footer-item">
    <div class="footer-icon">Email</div>
    <p class="footer-text">pospconference@gmail.com</p>
  </div>
</div>
