<div class="org-committee-container">
    <h1 class="org-title">ORGANIZING COMMITTEE</h1>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Prof. Javed Iqbal" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Javed Iqbal</div>
            <div class="org-role">Patron In Chief</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Prof. Javed Iqbal" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Rana Dilawaiz Nadeem</div>
            <div class="org-role">Patron</div>
        </div>
    </div>
</div>

<div class="org-row">
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Shahzad Anver Qureshi" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Shahzad Anver Qureshi</div>
            <div class="org-role">Secretary</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Abdul Latif Shahid" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Abdul Latif Shahid</div>
            <div class="org-role">Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Mumtaz Hussain" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Mumtaz Hussain</div>
            <div class="org-role">Co-Chairman</div>
        </div>
    </div>
</div>



<div class="org-grid">
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Muhammad Saleem" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Muhammad Saleem</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Abdul Basit" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Abdul Basit</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Atiq Uz Zaman" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Atiq Uz Zaman</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Ashfaq Ahmed" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Ashfaq Ahmed</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Irfan Ullah</div>
            <div class="org-role">Member</div>
        </div>
    </div>
</div>
