

<div class="org-row org-row-two">
    <div class="org-member">
        <img src="assets/Dr-Asalam Mengal.jpeg" alt="Dr. Muhammad Aslam Mengal" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Muhammad Aslam Mengal</div>
            <div class="org-role">Secretary/Cheif Organizer</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/Dr-M-Kareem-bakhsh-2.jpeg" alt="Prof. Muhammad Bakhsh Shahwani" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Muhammad Bakhsh Shahwani</div>
            <div class="org-role">Chairman</div>
        </div>
    </div>
</div>

<div class="org-row">
    <div class="org-member">
        <img src="assets/Prof-Kareem-Bakhsh.jpeg" alt="Prof. Kareem Baksh" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Kareem Bakhsh</div>
            <div class="org-role">Co-Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/Prof.Ateek ur rahman.jpeg" alt="Prof.Ateek ur Rehman" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Atiq ur Rehman</div>
            <br>
            <div class="org-role">CO-Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/Prof-Amanullah-khan.jpeg" alt="Prof. Amanullah Kakar" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Amanullah Kakar</div>
            <div class="org-role">CO-Chairman</div>
        </div>
    </div>
</div>


<div class="org-committee-container">
  <h2 class="org-title">ORGANIZING MEMBERS</h2>

  <div class="committees-wrapper">
    <table class="org-table">
      <thead>
      </thead>
      <tbody>
      <tr class="section-header">
        <td colspan="2">Scientific Committee</td>
      </tr>
      <tr>
        <td data-label="Name">Prof. Amanullah Khan Kakar</td>
        <td data-label="Role">Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Pervez Ali</td>
        <td data-label="Role">Co-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Asad Khan Ghilzi</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Humyun Hameed</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Zahid Khan Durrani</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Saleem Qureshi</td>
        <td data-label="Role">Secretary</td>
      </tr>
      <tr class="section-header">
        <td colspan="2">Finance & Exhibition Committee</td>
      </tr>
      <tr>
        <td data-label="Name">Prof. Atiq ur Rehman</td>
        <td data-label="Role">Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Tariq Hassani</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Ahmed Habib</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Mohsin Ali Khan</td>
        <td data-label="Role">Secretary</td>
      </tr>
      <tr class="section-header">
        <td colspan="2">Reception & Accommodation Committee</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Khawand Bakhsh Umrani</td>
        <td data-label="Role">Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Hameed ullah Kakar</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>

      <tr>
        <td data-label="Name">Dr. Wazir Ahmed</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Jameel Ahmed Zehri</td>
        <td data-label="Role">Secretary</td>
      </tr>
      <tr class="section-header">
        <td colspan="2">IT, Advertisement & Registration Committee</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Asmat ullah Nasir</td>
        <td data-label="Role">Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Muhammad Owais</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Ahmar Ali</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
            <tr>
        <td data-label="Name">Dr. Saddam Mazar</td>
        <td data-label="Role">Secretary</td>
      </tr>
      <tr class="section-header">
        <td colspan="2">International Liaison Committee</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Naimat ullah</td>
        <td data-label="Role">Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Khurram Shahwani</td>
        <td data-label="Role">CO-Chairman</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>