<!-- <div class="org-committee-container">
    <h1 class="org-title">ORGANIZING COMMITTEE</h1>
    <div class="org-member">
        <img src="assets/Dr-Eidh-muhammad-mandokhail.jpeg" alt="Prof. Eid Muhammad Mandokhail" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Eid Muhammad Mandokhail</div>
            <div class="org-role">Patron In Chief</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/Prof-Anisuddin-bhatti.jpeg" alt="Prof. Anisuddin Bhatti" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Anisuddin Bhatti</div>
            <div class="org-role">Patron</div>
        </div>
    </div>
</div> -->

<div class="org-row">
    <div class="org-member">
        <img src="assets/Dr-Asalam Mengal.jpeg" alt="Dr. Muhammad Aslam Mengal" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Muhammad Aslam Mengal</div>
            <div class="org-role">Secretary/Cheif Organizer</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/dr-MuhammadBaksh-Shahwani.jpeg" alt="Prof. Muhammad Baksh Shahwani" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Muhammad Baksh Shahwani</div>
            <div class="org-role">Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/Prof-Kareem-Bakhsh.jpeg" alt="Prof. Kareem Baksh" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Kareem Baksh</div>
            <div class="org-role">Co-Chairman</div>
        </div>
    </div>
</div>


<div class="org-committee-container">
  <h2 class="org-title">OTHER ORGANIZING MEMBERS</h2>

  <table class="org-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Name">Prof. Amanullah Khan Kakar</td>
        <td data-label="Role">Co-Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Prof. Atiq ur Rehman</td>
        <td data-label="Role">Co-Chairman</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Tariq Hassani</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Hameed ullah Kakar</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Humyun Hameed</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Wazir Ahmed</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Khawand Baksh Umrani</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Asad Khan Ghilzi</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Naimat ullah</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Jameel Ahmed Zehri</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Asmat ullah Nasir</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Ahmed Habib</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Muhammad Owais</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Khurram Shahwani</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Saleem Qureshi</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Ahmar Ali</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Zahid Khan Durrani</td>
        <td data-label="Role">Member</td>
      </tr>
      <tr>
        <td data-label="Name">Dr. Mohsin Ali</td>
        <td data-label="Role">Member</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="org-grid">
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Muhammad Saleem" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Amanullah Khan Kakar</div>
            <div class="org-role">Co-Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Abdul Basit" class="org-img" />
        <div class="org-info">
            <div class="org-name">Prof. Atiq ur Rehman</div>
            <div class="org-role">Co-Chairman</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Prof. Atiq ur Rehman" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Tariq Hassani</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Ashfaq Ahmed" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Hameed ullah Kakar</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Humyun Hameed</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Wazir Ahmed</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Khawand Baksh Umrani</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Asad Khan Ghilzi</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Naimat ullah</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Jameel Ahmed Zehri</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Asmat ullah Nasir</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Ahmed Habib</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Muhammad Owais</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Khurram Shahwani</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Saleem Qureshi</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Ahmar Ali</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Zahid Khan Durrani</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    <div class="org-member">
        <img src="assets/jameel.jpeg" alt="Dr. Irfan Ullah" class="org-img" />
        <div class="org-info">
            <div class="org-name">Dr. Mohsin Ali</div>
            <div class="org-role">Member</div>
        </div>
    </div>
    
</div> -->
