
<h1>Work in Progress ... </h1>
<!-- <div class="container">
  <h1 class="heading">
    Click The Button To Download Registration Form
  </h1>

  <div class="arrow">
    <span>&#x2B07;</span>
  </div>

  <button class="download-btn" (click)="downloadForm()">
    Download Form
  </button>

  <p>OR</p>
  <div class="google-form-row">
    <button class="download-btn google-btn" (click)="openGoogleForm()">
      Fill Google Form
    </button>
    <div class="qr-wrapper-side">
      <img src="assets/QR-Code-Google-form.jpeg" alt="Scan QR to open Google Registration Form" class="qr-image-side" />
      <div class="qr-caption">Scan to open form</div>
    </div>
  </div>

  <p class="email">
    <a href="mailto:Pospconference@Gmail.Com">pospcon2026qta@gmail.com</a>
  </p>
</div> -->
