<div class="org-committee-container">
  <h2 class="org-title">National Faculty</h2>

  <table class="org-table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Name">Professor: Tahseen Cheema</td>
        <td data-label="Role">Past President POA (Bahwalpur)</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Anisuddin Bhatti</td>
        <td data-label="Role">Past President POA&POSP & Founding Director PORP (Karachi)</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Javed Iqbal</td>
        <td data-label="Role">Past President POSP (Lahore)</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Muhammad Amin Chinoy</td>
        <td data-label="Role">Past President POA / President POSP (Karachi)</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Sikandar hayat</td>
        <td data-label="Role">Past President POSP (Peshwar)</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Atiq uz zaman</td>
        <td data-label="Role">Lahore</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Abdul latif sami</td>
        <td data-label="Role">Lahore</td>
      </tr>
            <tr>
        <td data-label="Name">Professor: Rana Dilawaiz Nadeem</td>
        <td data-label="Role">Lahore</td>
      </tr>
      
      <tr>
        <td data-label="Name">Professor: Mehtab perwani</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Badaruddin sahito</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: M bakhsh shawani</td>
        <td data-label="Role">Quetta</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Karim bakhsh</td>
        <td data-label="Role">Quetta</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Amanullah kakar</td>
        <td data-label="Role">Quetta</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Atiq ur rehman</td>
        <td data-label="Role">Quetta</td>
      </tr>
            <tr>
        <td data-label="Name">Professor: Nusrat Rasheed</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Ayesha Saeed </td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Dr salik Kashif</td>
        <td data-label="Role">Peshawar</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Saeed Jadoon</td>
        <td data-label="Role">Peshawar</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Mumtaz Hussain</td>
        <td data-label="Role">Lahore</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Shahzad Anvar</td>
        <td data-label="Role">Lahore</td>
      </tr>
            <tr>
        <td data-label="Name">Dr M.Asif Paracha</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Muhammad Jamil</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Parveez Ali</td>
        <td data-label="Role">Karachi</td>
      </tr>
      <tr>
        <td data-label="Name">Dr Aslam Mengal</td>
        <td data-label="Role">Karachi</td>
      </tr>

      
      <tr>
        <td data-label="Name">Dr Noman Parekh</td>
        <td data-label="Role">Karachi</td>
      </tr>
    </tbody>
  </table>
</div>