<div class="org-committee-container">
  <h2 class="org-title">International Faculty</h2>

  <table class="org-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="">Professor: Muharrem Inan </td>
        <td data-label="">Turkiye </td>
      </tr>
      <tr>
        <td data-label="">Professor: Guney Yilmaz</td>
        <td data-label="">Turkiye </td>
      </tr>
      <tr>
        <td data-label="">Professor: Marc Sinclare</td>
        <td data-label="">UAE</td>
      </tr>
      <tr>
        <td data-label="">Professor: Jose A Morcuende </td>
        <td data-label="">USA</td>
      </tr> 
            <tr>
        <td data-label="">Professor: Rujuhta Mehta</td>
        <td data-label="">India</td>
      </tr> 
                  <tr>
        <td data-label="">Professor. Hakan Senaran</td>
        <td data-label="">Turkiye</td>
      </tr> 
      <tr>
        <td data-label="">Professor. Dr Mahir Gülşen</td>
        <td data-label="">Turkiye</td>
      </tr> 
            <tr>
        <td data-label="">Professor. Monica Nogueira</td>
        <td data-label="">Brazil</td>
      </tr> 
    </tbody>
  </table>
</div>