<h1>Work in Progress ...  </h1>


<!-- <div class="org-committee-container">
  <h2 class="org-title">International Faculty</h2>

  <table class="org-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Name">Professor: Muharrem Inan </td>
        <td data-label="Role">Turkey </td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Guney Yilmaz</td>
        <td data-label="Role">Turkey</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Marc Sinclare</td>
        <td data-label="Role">UAE</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: David Spiegel</td>
        <td data-label="Role">USA</td>
      </tr>
      <tr>
        <td data-label="Name">Professor: Jose A Morcuende </td>
        <td data-label="Role">USA</td>
      </tr> 
            <tr>
        <td data-label="Name">Professor: Rujuhta Mehta</td>
        <td data-label="Role">India</td>
      </tr> 
                  <tr>
        <td data-label="Name">Professor. Hakan Senaran</td>
        <td data-label="Role">Turkey</td>
      </tr> 
      <tr>
        <td data-label="Name">Professor. Dr Mahir Gülşen</td>
        <td data-label="Role">Turkey</td>
      </tr> 
            <tr>
        <td data-label="Name">Professor. Monica Nogueira</td>
        <td data-label="Role">Brazil</td>
      </tr> 
      <tr>
        <td data-label="Name">Professor. Zhao Li</td>
        <td data-label="Role">China</td>
      </tr> 
    </tbody>
  </table>
</div> -->